.main-empleados{
    display: flex;
    height: 95%;
    width: 99%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 5px;
}


.buscador-y-registrar{
    display: flex;
    width: 100%;
}

.buscador{
    display: flex;
    justify-content: center;
}

.registrarEmple{
    width: 12%;
}

.boton-registrarEmple{
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffb700;
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 6px 9px;
    font-weight: 600;
    border: 0px;
}

.cuentasEmpleados{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    height: 65vh;
    width: 65%;
    min-width: 340px;
    max-width: 900px;
}