.articulo-link{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.articulo{
    display: flex;
    background-color: #f9f9f9;
    height: 120px;
    border-radius: 15px;
    gap: 10px;
} 

.divImagenArt{
    width: 6rem;
    height: 6rem;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    overflow: clip;
}

.imagenArt{
    width: 100%;
    height: 100%;
}

.articulo-contenido{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
}

.tituloArt{
    margin: 0;
    font-family: Arial, sans-serif;
}

.descripcionArt{
    overflow: hidden;
}

.span{
    color:#2A4BA0;
    font-size:15px;
    font-weight: bold;
}