.articulo-link {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.articulo {
    display: flex;
    background-color: #f9f9f9;
    height: 120px;
    border-radius: 15px;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

}

.articulo:active{
    height: 119px;
    width: 99%;
}

.articulo:hover {
    background-color: #e0dfdf;
}

.articulo.seleccionado{
    background-color: #e0dfdf;
}

.divImagenArt {
    width: 6.5rem;
    height: 6rem;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    overflow: clip;
}

.imagenArt {
    width: 100%;
    height: 100%;
}

.articulo-contenido {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3px;
    overflow-wrap: anywhere;
}

.tituloArt {
    margin: 0;
    font-family: Arial, sans-serif;
}

.descripcionArt {
    overflow: hidden;
}

.span {
    color: #2A4BA0;
    font-size: 15px;
    font-weight: bold;
}

/*---------------------------*/

.miArticulo {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    min-width: 15rem;
    max-width: 15rem;
    height: 14rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    gap: 5px;
    padding: 0px 4px;
}

.miArticulo:hover {
    background-color: #e0dfdf;
}

.divImagenArt-miArticulo {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: clip;
    display: flex;
    justify-content: center;
}

.imagenMiArt {
    height: 100%;
    width: 95%;
    margin-top: 10px;
    border-radius: 10px;
}

.miArticulo-contenido {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 5px 6px;
}

.miArticulo-contenido-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-wrap: anywhere;
    height: 100%;
    width: 66%;
}

.eliminarMiArticulo {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 1px solid black;
    padding: 2px 4px;
    width: 32%;
}

.eliminarMiArticulo:hover{
    background-color: rgb(32, 32, 32);
}

.interesado_y_puntaje{
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.usuarioEnArticulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}