#img-destacado{
    height: 100px;
}

.articuloDestacado{
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}

#articulo-contenido-destacado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}