
.forms{
    display: flex;
    gap: 40px;
    width: 55%;
    max-width: 55%;
    height: 92%;
    justify-content: center;
}

.formPrincipal{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 300px;
    gap: 10px;
}

.divSubirFoto{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 8%;
}

.divRegistrarse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrarse{
    background-color: #F9C615;
    color: #2e2e2e;
    padding: 8px 5px;
    border-radius: 3px;
    height: 2rem;
    font-family: revert-layer;
    font-weight: 600;
}

.registrarse:hover{
    background-color: #f1cf52;
}

.divInputRegistro{
    display: flex;
    flex-direction: column;
}

.textoNoCumple{
    font-size: 16px;
    color: #ff0000d5;    
}

.textoBajoLabelRegistro{
    font-size: small;
    color: #777676d5; 
}

.suscripcion{
    display: flex;
    gap: 5px;
    font-size: small;
    color: #6d6d6dd5;
}

/* Ocultar las flechas de los campos de tipo 'number' */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[name="foto"] {
    height: 100%;
    width: 111%;
}
