.formSubirPromocion {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.divCampoObligatorio {
    text-align: center;
    margin-bottom: 15px;
}

.campoObligatorio {
    color: #e74c3c;
    font-weight: bold;
}

.div-subirpromocion-inputs {
    width: 100%;
}

.div-subirpromocion-fila {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.div-subirPromocion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-subirPromocion label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputSubirPromocion,
.input-foto {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}

.inputSubirPromocion:focus,
.input-foto:focus {
    border-color: #3498db;
}

.div-botonSubirPromocion {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.boton-subir-promocion {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.boton-subir-promocion:hover {
    background-color: #2980b9;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.modal-content button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.modal-content button:hover {
    background-color: #2980b9;
}