.forms {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    padding-bottom: 5px;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.divInputRegistro {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.contenedor-registro {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.texto-registro {
    width: 92%;
}

.divSubirFoto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divRegistrarse {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registrarse {
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    border: none;
    height: 2rem;
    font-family: revert-layer;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.registrarse:hover {
    background-color: #0056b3;
}

.textoNoCumple {
    font-size: 16px;
    color: #ff0000d5;
}

.textoBajoLabelRegistro {
    font-size: small;
    color: #777676d5;
}

.suscripcion {
    display: flex;
    gap: 5px;
    font-size: small;
    color: #6d6d6dd5;
    width: 92%;
}

/* Ocultar las flechas de los campos de tipo 'number' */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[id="fotoRegistro"] {
    height: 100%;
    width: 111%;
}

select[name="sucursal"]{
    width: 9.8rem;
}