.filtros-fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.container-filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filtrosSinAviso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
