.labels {
    padding: 20px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 8rem;
}

.iniciar-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.iniciar-sesion h2 {
    margin: 0;
}

.iniciar-sesion p {
    margin-bottom: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.siNoTenesCuenta {
    display: flex;
    align-items: center;
    gap: 5px;
}

.linkAca {
    color: black;
    font-size: 20px;
}

.divIniciarSesion {
    display: flex;
    justify-content: center;
}

.iniciar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 2rem;
}

.iniciar:hover {
    background-color: #0056b3;
}