.labels{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iniciar{
    background-color: #F9C615;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

.iniciar:hover{
    background-color: #f1cf52;
}