.boton{
    width: auto;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.nav{
    gap: 15px;
    text-decoration: none;
}

.boton:hover{
    background-color: #e8e7e7;
    text-decoration: underline;
}

.navIzquierda{
    display: flex;
}

.navDerecha{
    display: flex;
}

.subirArt{
    align-self: center;
}