.boton{
    width: auto;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
}

.nav{
    gap: 15px;
    text-decoration: none;
}

.boton:hover{
    text-decoration: underline;
}

.navIzquierda{
    display: flex;
}

.navDerecha{
    display: flex;
}

.relleno{
    width: 200px
}

.optionNav{
    display: flex;
    font-size: 18px;
    color: black;
    font-weight: 600;
}