.opcionesUser{
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 5px;
}

.cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%; 
    overflow: clip;
}

.cuenta > ion-icon{
    height: 30px;
}

.fotoCuenta{
    width: 100%;
    height: 100%;
}

.containersDrop{
    display: flex;
    position: relative;
    cursor: pointer;
}

#containerNotificaciones{
    width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerNotificaciones:hover{
    background-color:#f3af04;
}

.dropCuenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: -37%;
    top: 124%;
    width: 16rem;
    overflow: hidden;
    padding: 5px 0px;
}

.dropCuenta__mail{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 5px;
    padding-bottom: 8px;
}

.nombre_y_email{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.dropCuenta__items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

hr{
    height: 1px;
    border: none;
    width: 100%;
    background-color: #d7d7d7;
}