.paginas{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1vh;
}

.paginaCambio {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    margin: 0 4px;
  }
  
  .paginaCambio:hover {
    background-color: #0056b3;
  }