.paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1vh;
    font-weight: 600;
    font-size: 16px;
}

.paginaCambio {
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;
    margin: 0 4px;
  }
  
  .paginaCambio:hover {
    background-color: #808080;
  }