.contenedor-verPerfil {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.contenedor-perfil {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img,
.col-perfil {

    padding: 10px;
    box-sizing: border-box;
}

.col-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fila-nombre {
    font-weight: bold;
    /* Nombre en negrita */
    font-size: 24px;
    /* Tamaño de letra más grande */
}

.fila-email,
.fila-nacimiento {
    color: #666;
    /* Color de texto más claro */
}

.fila-boton {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.fila-boton button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.fila-boton button:hover {
    background-color: #0056b3
}


.col-img {
    flex: 0 0 25%;
    /* 25% de ancho */
}

.col-perfil {
    flex: 0 0 75%;
    /* 75% de ancho */
}

@media (max-width: 768px) {
    .contenedor-perfil {
        flex-direction: column;
    }

    .col-img,
    .col-perfil {
        flex: 0 0 100%;
        /* 100% de ancho */
    }

    .fila-boton {
        margin-top: 10px;
        /* Agregamos espacio arriba del botón */
    }
}

.contenedor-perfil-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
}

.cantidad-trueques,
.titulo-comentario {
    padding: 20px;
    max-width: 800px;

}

.cantidad-trueques {
    background-color: transparent;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.titulo-comentario {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}



/* Estilo para la caja de comentarios */
.caja-comentarios {
    height: 200px;
    background-color: #f2f2f2;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20rem;
}

#seccion-nombre, #seccion-estrella{
    padding-bottom: 5px;
}

#seccion-comentario{
    padding-bottom: 20px;
    font-style: italic;
}

#seccion-nombre{
    font-size: 18px;
}

.divPuntaje{
    display: flex;
    width: 34%;
    justify-content: center;
    align-items: center;
}

.realPuntaje{
    font-size: 16px;
}