/* styles/PopupEfectivizar.css */

.popup-overlay-venta {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-venta {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 615px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 400px;
    overflow-y: auto;
}

.popup-venta h2 {
    margin-top: 0;
    text-align: center;
    padding-bottom: 10px;
}

.inputs-venta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.input-row select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    /* Ensure consistent height */
}

.input-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.remove-row{
    margin-bottom: 30px;
}
.input-row .remove-row {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelar-venta {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones-venta {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.botones-venta button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aceptar {
    background-color: rgb(236, 235, 235);
    /* Green */
    color: black;
}

.aceptar:hover {
    background-color: #4CAF50;
}

.agregar-producto {
    background-color: #008CBA;
    /* Blue */
    color: white;
}

.campos_ventas{
    display: flex;
    flex-direction: column;
    height: 30px;
}

.campoObligatorio{
    font-size: 10px;
    color: red;
    margin-left: 5px;
}

.contenedorInputProducto{
    display: flex;
    flex-direction: column;
    height: 3rem;
    gap: 4px;
}

.productoMostrado{
    font-size: 16px;
    color: grey;
    margin-left: 5px;
}