.promociones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 98%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.hr-promociones {
    width: 100%;
    border-color: lightgray;
    margin: 20px;
    padding: 0;
}

.promociones-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.promociones-container .promocion {
    display: inline-block;
    margin-right: 10px;
}

.promociones-container,
.promosPendientes {
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.promociones-disponibles {
    display: flex;
    flex-direction: row;
}

.cartel-promociones {
    display: flex;
    align-items: center;
}

.no-promos {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

.admin-buttons {
    padding: 20px;
}

.promocion-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.promocion-button:hover {
    background-color: #0056b3;
}

.promocion-no-aprobada {
    background-color: lightgray;
}

.promocion-actions {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}