/* Estilos para el formulario */


.formSubirArt {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin: 20px auto;
    box-sizing: border;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para las secciones del formulario */
.section1-subirArt,
.section2-subirArt,
.section3-subirArt {
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section3-subirArt {
    height: 100%;

}

.nombre-section1 input,
.descripcion-section2 input {
    padding: 5px;
}

.titulo-section1-subirArt,
.titulo-section2,
.titulo-section3,
.label-subirArt {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Estilos para los campos de entrada y textarea */
.textArea-subirArt {
    resize: none;
}

.input-subirArt,
.textArea-subirArt {
    width: 100%;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

/* Estilos para el contenedor de los botones */
.divBotonSubirArt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos para la sección de seleccionar foto */
.foto-section3 {
    display: flex;
    flex-direction: column;
}

.verImagenes {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

/* Estilos para los botones */
.boton-subirArt {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-cancelarArt {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-subirArt:hover,
.boton-cancelarArt:hover {
    background-color: #0056b3;
}

/* Estilos para las líneas */
.titulo-section3 hr {
    background-color: #969696;
    border-radius: 10px;
}

/* Estilos para el texto */
.label-subirArt,
.boton-subirArt,
.boton-cancelarArt {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

#fotoSubirArt {
    height: 100%;
}

.campoObligatorio{
    color:#ff0000;
    font-size:15px;
}

