.principal-sucursales{
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.agregarSucursal{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boton_subirSucursal{
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffb700;
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 6px 9px;
    font-weight: 600;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-sucursales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Sucursal.css */

.sucursal {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: #f9f9f9;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    width: 15rem;
}
  
.sucursal-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.sucursal-img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}
  
.sucursal-nombre {
    margin-top: 0;
    text-align: center;
}

.sucursal-datos {
    font-family: Arial, sans-serif; /* Change font family for better typography */
  }
  
.sucursal-datos p {
    margin-bottom: 5px;
    font-size: 16px; /* Improve font size */
}
  

