.unTrueque{
    display: flex;
    background-color: #D9D9D9;
    /* width: 100%; */
    /* height: 15%; */
    border-radius: 10px;
    /* justify-content: space-between; */
    overflow: clip;
    gap: 10px;
}

.fotoUser{
    width: 50px;
}



.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.articulosCambiados{
    display: flex;
    gap: 5px;
}
.fotoArticulo{
    width: 30px;
    border-radius: 7px;
}

.simbolo{
    width: 20px;
    border-radius: 100px;
}

.fechaTrueque{
    font-size: 12px;
    font-family: Arial, sans-serif;
}
