.ultimoTrueque {
    display: flex;
    justify-content: space-evenly;

    /* width: 100%; */
    /* height: 15%; */

    /* justify-content: space-between; */
    overflow: clip;
    gap: 10px;
    height: 100%;
    width: 95%;
    padding: 2%;
}

.hr-ultimos-trueques {
    border: 1px solid lightgray;
    width: 130%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.fotoUser-ultimoTrueque {
    width: 60px;
    border-width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.contenido-ultimoTrueque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.articulosCambiados-ultimoTrueque {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.fotoArticulo-ultimoTrueque {
    width: 100px;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.simbolo-ultimoTrueque {
    width: 20px;
    border-radius: 100px;
    border: 0.5px solid black;
}

.fechaTrueque-ultimoTrueque {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}